<h1>Merchants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Post</th>
      <th>Created At</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @merchants.each do |merchant| %>
      <tr>
        <td><%= merchant.name %></td>
        <td><%= merchant.post %></td>
        <td><%= time_ago_in_words(merchant.created_at) %> ago</td>
        <td><%= link_to 'Show', merchant %></td>
        <td><%= link_to 'Edit', edit_merchant_path(merchant) %></td>
        <td><%= link_to 'Destroy', merchant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Merchant', new_merchant_path %>
<%= link_to "Sign out", destroy_user_session_path, method: :delete %>

