<p>
  <strong>Name:</strong>
  <%= @merchant.name %>
</p>

<p>
  <strong>Post:</strong>
  <%= @merchant.post %>
</p>

<%= link_to 'Edit', edit_merchant_path(@merchant) %> |
<%= link_to 'Back', merchants_path %>
